exclude docs/sphinx/_build
exclude migrations
exclude docker
exclude .dockerignore

include *.rst
include *.json
include *.yml
include *.sh
include *.txt
include LICENSE
include pytest.ini
include alembic.ini

recursive-exclude docs/sphinx/_build *
recursive-exclude migrations *
recursive-exclude docker *
recursive-include cube_builder *.py
recursive-include docs *.bat
recursive-include docs *.css
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include docs *.ico
recursive-include docs *.png
recursive-include examples *.py
recursive-include tests *.py